<form method="post" action="{{ path('app_fr_marque_mar_delete', {'id': fr_marque_mar.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fr_marque_mar.id) }}">
    <button class="btn">Delete</button>
</form>
