{% extends 'base.html.twig' %}

{% block title %}New FrDomaineDom{% endblock %}

{% block body %}
    <h1>Create new FrDomaineDom</h1>

    {{ include('fr_domaine_dom/_form.html.twig') }}

    <a href="{{ path('app_fr_domaine_dom_index') }}">back to list</a>
{% endblock %}
