<form method="post" action="{{ path('app_fr_etape_intervention_eti_delete', {'id': fr_etape_intervention_eti.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fr_etape_intervention_eti.id) }}">
    <button class="btn">Delete</button>
</form>
