<form method="post" action="{{ path('app_fr_outils_out_delete', {'id': fr_outils_out.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fr_outils_out.id) }}">
    <button class="btn">Delete</button>
</form>
