
<form  method="post" action="{{ path('app_fr_utilisateur_uti_delete', {'id': fr_utilisateur_uti.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <div class='formcontainer flex-column'>
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fr_utilisateur_uti.id) }}">
        <button class='links'>Supprimer</button>
    </div>
</form>
