{% extends 'base.html.twig' %}

{% block title %}Informations Personnelles{% endblock %}

{% block body %}
    <div class='container flex-column'>

        {% if fr_utilisateur_uti.utiAvatar == "" %}
            <img class='avatar' src="/logo/user.svg" alt="photo de profil" class="img-profil">
            {% else %}
            <img class='avatar' src="data:image/jpeg;base64,{{ fr_utilisateur_uti.utiAvatar }}" alt="photo de profil" class="img-profil">
        {% endif %}

        <h1>Informations Personnelles</h1>

        {{ include('fr_utilisateur_uti/_form.html.twig', {'button_label': 'Modifier mes données'}) }}

        <a class='links' href="{{ path('app_fr_utilisateur_uti_show', {'id': fr_utilisateur_uti.id}) }}">Retour</a>
    </div>

    {{ include('fr_utilisateur_uti/_delete_form.html.twig') }}
{% endblock %}
