{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <h1>Bienvenue!</h1>

    {{ include('fr_utilisateur_uti/_form.html.twig') }}

    <a class='link' href="{{ path('app_login') }}">Retour</a>
{% endblock %}
