{% extends 'base.html.twig' %}

{% block title %}New FrUtilisateurUti{% endblock %}

{% block body %}
    <h1>Create new FrUtilisateurUti</h1>

    {{ include('fr_utilisateur_uti/_form.html.twig') }}

    <a href="{{ path('app_fr_utilisateur_uti_index') }}">back to list</a>
{% endblock %}
