:root{
    --font-family:"Noto Sans Display", sans-serif;
    --font-weight:400;
    --font-bold:600;
    --font-size: 20px;

    --color-dark: #262626;
    --hover-color-dark: #7d7d7d;
    --color-orange: #D97218;
    --color-bright: #fdfdfd;
    --color-alert:#f32f0c;
    --color-info:#D97218;

    --border-color:#D97218;
    --border-thickness:3px;
    --radius: 10px;
    --large-radius: 25px;
    --btn-radius: 40px;

    --input-background-color: rgba(253, 253, 253, 0.5);
    --line-background-color: rgba(253, 253, 253, 1);
    --btn-background-color: #D97218;

    --gradient-color-bright: #f2c12e;
    --gradient-color-middle: #f2b035;
    --gradient-color-dark: #d97218;
    --navbar-background:linear-gradient(0deg, var(--gradient-color-dark) 36%, var(--gradient-color-middle) 80%, var(--gradient-color-bright) 100%);
}

body{
    margin: 0;
    font-family: var(--font-family) ;
    font-weight: var(--font-weight);
    font-style: normal;
    font-size: var(--font-size);
    background: var(--color-dark);
    color: var(--color-bright);
}

h1, h2, h3{
    text-align: center;
    font-family: "Tilt Warp", sans-serif;
    font-weight: var(--font-weight);
    font-style: normal;
    width: fit-content;
}

a{
    text-decoration: none;
    color: inherit;
    line-height: 2;
}

table{
    margin: 25px 0 ;
}

th, td{
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
    border-bottom: solid var(--border-color) 1px;
}

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container{
    justify-content: flex-start;
    align-items: center;
}

.alert{
    color: var(--color-alert);
    font-weight: var(--font-bold);
}

.info{
    color: var(--color-info);
    font-weight: var(--font-bold);
}

.btn{
    text-align: center;
    color: var(--color-dark);
    font-size: 1.2rem;
    font-weight: var(--font-bold);
    background-color: var(--btn-background-color);
    border-radius: var(--btn-radius);
    width: fit-content;
    height: calc(var(--font-size) + 2vh);
    margin: 20px;
}

.links{
    color: var(--color-bright);
    background-color: var(--color-dark);
    border: none;
    text-align: center;
    font-size: 0.8rem;
}
