#index-recap {
    margin: 20px 10px;
    gap: 10px;
}

#index-recap-fiche {
    width: 50%;
    padding: 10px;
}

#index-recap-liste {
    width: 50%;
    padding: 0 10px;
    gap: 20px;
}

#index-recap-fiche-img {
    height: 350px;
    width: 250px;
    border-radius: var(--radius);
    margin-right: 10px;
}

.recap-element {
    width: 100%;
    color: var(--color-dark);
    font-size: 1.2rem;
    font-weight: var(--font-bold);
    background-color: var(--line-background-color);
    border: solid var(--border-color) var(--border-thickness);
    border-radius: var(--radius);
    height: calc(var(--font-size) + 1.2vw);
    padding: 0 10px;
}