.navbrand {
    align-content: center;
    width: 10%;
    margin-left: 20px;
}

.navbrandlink {
    align-items: center;
}

.navbutton {
    display: none;
}

.navcontainer {
    width: 90%;
}

.navlist {
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.navitem {
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.navlink {
    color: var(--color-dark);
    text-decoration: none;
    font-weight: var(--font-bold);
}