.navbar-brand {
    align-content: center;
    width: 10%;
    margin-left: 20px;
}

.navbar-link {
    align-items: center;
}

.navbar-button {
    display: none;
}

.navbar-container {
    width: 90%;
}

.navbar-list {
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.navbar-item {
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.navbar-link {
    color: var(--color-dark);
    text-decoration: none;
    font-weight: var(--font-bold);
}