<nav class="navbar">
  <div class="navbrand">
    <a class="navbrandlink" href="/"><img src="/logo/logoV4.svg" alt="" width="60px" ></a>
  </div>
  <button class="navbutton" type="button" data-bs-toggle="collapse" data-bs-target="#SupportedContent" aria-controls="SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class=""></span>
  </button>
  <div class="navcontainer" id="SupportedContent">
    <ul class="navlist">
      <li class="navitem">
        <a class="navlink" aria-current="page" href="/intervention/new">Réparer!</a>
      </li>
      <li class="navitem">
        <a class="navlink" href="/intervention/">Mes Fiches</a>
      </li>
        <li class="navitem">
        <a class="navlink" href="/utilisateur/">Mon Profil</a>
      </li>
      <li class="navitem">
        <a class="navlink" href="#"><img class="navlogout" width='30px' src='/logo/exit-logout.svg'/></a>
      </li>
    </ul>
  </div>
</nav>